<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{insert style.html}}
  {{isdef title}} <title>David AW Barton — {{fill title}}</title>  {{end}}
</head>
<body>
{{insert sidebar.html}}
<div class="content container">
  <!-- <img id="header-image" src="/assets/RobertCouse-Baker_flickr_7947324058_e3b9f6c536_k.jpg" alt="A picture of clouds in the sky, lit by a sunset"> -->
  {{ inserttitle }}
  <!-- Content appended here -->
